<% if flash[:notice] %>
  <div class="vseparate">&nbsp;</div>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="vseparate">&nbsp;</div>
<% end %>
<a href="/jobs/new">New Job</a><br/>
<a href="/jobs">View Jobs</a><br/>
<a href="/movement">Movement</a><br/>
<%= link_to 'Inventory Management', products_path %><br/>
<a href="/products/update_inventory" >Update Inventory</a><br/>
<%= link_to 'Bunker Management', bunkers_path %><br/>
<%= link_to 'Order Management', orders_path %><br/>
<a href="/mail_managers" >Manage Emails for Job/Store</a><br/>

<a href="/reports/explosives_quantities" >Explosive Load</a><br/>

<a href="/reports">Reports</a><br/>
<a href="/users/index">User Role/Location</a>
