<% if flash[:notice] %>
  <div class="vseparate">&nbsp;</div>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="vseparate">&nbsp;</div>
<% end %>
<a href="/jobs/new">New Job</a><br/>
<a href="/jobs">View Jobs</a><br/>
<a href="/movement">Movement</a><br/>
<%= link_to 'Inventory Management', products_path %><br/>
<a href="/products/update_inventory" >Update Inventory</a><br/>
<%= link_to 'Bunker Management', bunkers_path %><br/>
<%= link_to 'Order Management', orders_path %><br/>
<a href="/mail_managers" >Manage Emails for Job/Store</a><br/>
<a href="/reports/explosive_location_based/khaskeili">Khaskeili Explosive Report</a><br/>
<a href="/reports/explosive_location_based/Sukhar">Sukhar Explosive Report</a><br/>
<a href="/reports/explosive_location_based/Khoar">Khoar Explosive Report</a><br/>

<a href="/reports/explosive_bunker_based/khaskeili">Khaskeili Bunkers Explosive Report</a><br/>
<a href="/reports/explosive_bunker_based/Sukhar">Sukhar Bunkers Explosive Report</a><br/>
<a href="/reports/explosive_bunker_based/Khoar">Khoar Bunkers Explosive Report</a><br/>

<a href="/reports/explosives_quantities" >Explosive Load</a><br/>