<div class='pending-user-list'>
    <!-- <div>
        <div class='pending-user-header'>Login Name</div>
        <div class='pending-user-header'>Email Address</div>
        <div class='pending-user-header'>Approve</a></div>
    </div>-->
    <% @pending_users.each do |p| %>
    <div class='pending-user'>
        <div><%=p.login%></div>
        <div><%=p.email%></div>
        <div><a href="/admin/activate_user/<%=p.id%>">Activate</a></div>
    </div>
    <% end %>
</div>
