<div class='pending-user-list'>
    <% @pending_users.each do |p| %>
    <div class='pending-user'>
        <div><%=p.login%></div>
        <div><%=p.email%></div>
        <div><a href="/admin/activate_user/<%=p.id%>">Activate</a></div>
    </div>
    <% end %>
</div>
