.container {
  width: 1000px;
  margin: 0 auto;
}

body {
  background: #cff;
}

#header {
  padding-top: 20px;
}

#header img {
  padding: 1em;
  background: #fff;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

.navigation {
  float: right;
}

.navigation {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

.navigation li a:visited {
  color: #09c;
}

.navigation li a:hover {
  text-decoration: underline;
}
/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
#footer {
  text-align: center;
  margin-top: 10px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}

#footer .navigation {
  float: none;
}
.notice {
  background-color: #cccccc;
}
.pending-user div {
    width: 200px;
    float:left;
}
.pending-user-header {
    width:200px;
    float: left;
}
span.error{
  background:#FFD5D5; /*url(../images/error.gif) no-repeat scroll 10px 50%;*/
  border:1px solid #FFACAD;
  color:#CF3738;
  margin-top:5px;
}

span.alert {
  background:#FFF3A3; /*url(../images/alert.png) no-repeat scroll 5px 3px;*/
  border:1px solid #E7BD72;
  color:#B79000;
  margin-top:5px;
}