<div class="heading-text">Reports</div>
<br/>
<label>Start Date:&nbsp;</label><%= select_date Date.today, :prefix => :start_date%>
<br/>
<label>End Date:&nbsp;&nbsp;&nbsp;</label><%= select_date Date.today, :prefix => :end_date%>
<br/><br/>
<a href="javascript:;" onclick="getReport('/reports/explosive_location_based/Khaskheli');return false;">Khaskheli Explosives</a><br/>
<a href="javascript:;" onclick="getReport('/reports/explosive_location_based/Sukkur');return false;">Sukkur Explosives</a><br/>
<a href="javascript:;" onclick="getReport('/reports/explosive_location_based/Islamabad');return false;">Islamabad Explosives</a><br/>

<a href="javascript:;" onclick="getReport('/reports/explosive_bunker_based/Khaskheli');return false;">Khaskheli Bunkers Explosives</a><br/>
<a href="javascript:;" onclick="getReport('/reports/explosive_bunker_based/Sukkur');return false;">Sukkur Bunkers Explosives</a><br/>
<a href="javascript:;" onclick="getReport('/reports/explosive_bunker_based/Islamabad');return false;">Islamabad Bunkers Explosives</a><br/>

<a href="javascript:;" onclick="getReport('/reports/job_summary');return false;">Job Summary</a><br/>
<a href="javascript:;" onclick="getReport('/reports/fmt_in_out');return false;">FMT IN/OUT</a><br/>
